@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

body {
  background: #f7f7fa !important;
}

.rs-sidebar {
  position: fixed;
  height: 100vh;
  z-index: 3;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06) !important;
  flex: 1 1 auto;
}

.page-container {
  padding-left: 260px;
  transition: padding 0.5s;
}

.page-container.container-full {
   padding-left: 60px;
}
