@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

body {
  background: #f7f7fa !important;
}

.rs-sidebar {
  position: fixed;
  height: 100vh;
  z-index: 3;
}

.page-container {
  padding-left: 260px;
  transition: padding 0.5s;
}

.page-container.container-full {
   padding-left: 60px;
 }
